.home{
    height:100vh;
    overflow: hidden;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo:hover{
  transform: rotate(90deg)
}
.Search{
  
}
.Content .title{
  margin:20px 25px 0px 25px;
  height:40px;
  border: 1px solid #dcdcdc;
  background: #f1f1f1;
  line-height: 40px;
  text-align: center;
}
.Content .Rowcontent{
  margin-left: 25px;
  margin-right: 25px;
  border: 1px solid #dcdcdc;
  border-top:none;
  text-align: center;
  height: 70px;
}